body
{
    margin: 0;
}


nav
{
    display: flex;
    position: sticky;
}


h1
{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 45px auto;
    color: #413C4A;
}

h1::after
{
    content: 'My Gallery.';
    font-family: 'Playfair Display', serif;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #413C4A;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 30px auto;
}

/************************************

IMAGE

*************************************/

.imageBlock
{
    display: flex;
    overflow: hidden;
    margin: 30px 0px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s cubic-bezier(0.75, 0, 0.25, 1);
    position: relative;
}

.imageBlock:hover
{
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.littleImages
{
    transform: translateX(-25%)
}

/************************************

BIG IMAGE

*************************************/

.containerActive
{
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 30;
}

.containerActive.active
{
    display: flex;
    opacity: 1;
}

/************************************

ACTIONS INTO BIG IMAGES MOD

*************************************/

.cross
{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 3vmin;
    height: 3vmin;
    cursor: pointer;
}

.crossRight
{
    content: '';
    position: absolute;
    right: 10%;
    width: 30px;
    height: 30px;
    border-top: 1px white solid;
    border-right: 1px white solid;
    transform: rotate(45deg);
    cursor: pointer;
}

.crossLeft
{
    content: '';
    position: absolute;
    left: 10%;
    width: 30px;
    height: 30px;
    border-top: 1px white solid;
    border-right: 1px white solid;
    transform: rotate(-135deg);
    cursor: pointer;
}


footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 100%;
    height: 500px;
    background: #413C4A
}

footer p
{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .container {
      width: 500px;
    }
  }